{% extends 'base.html' %}

{% load static %}

{% block head%}

    <link rel="stylesheet" href="{%static 'css/about/about.css'%}">
    
{% endblock head %}



{% block body%}

<style>

</style>

<section> 
    <div style="background-image: url(../static/css/about/about_img/bg1.webp);background-repeat: no-repeat; background-size:cover; width: auto;">
        <div class="section2">
            <div class="section2_1">
                <div class="Goo_text">Goo Business</div>
                <h1>Learn & Hire</h1>
                <p>Level up your skills to industry standards and become a tech pro!</p>
                <button>Details</button>
            </div>
        </div>
    </div>


    <div class="section4_1">
        <h1>courses</h1>
        <p>Goo Business offers multiple trending courses</p>
    </div>

        
    <div class="section4_2" >
        <div class="section4_2_1">
            <img class="section3_1" src="" alt="">
            <h3>web Developement</h3>
            <p>Elevate your digital journey with our dynamic web development courses! Whether you're a coding enthusiast or just starting, our expert-guided programs provide a roadmap to master the art of web creation. From crafting responsive designs to building robust applications, embark on a transformative learning experience and shape the future of the web with us.</p>
        </div>
        <div class="section4_2_1">
            <img class="section3_1" src="">
            <h3>Graphic Designer</h3>
            <p>Unleash the power of visual storytelling in our graphic design courses! Dive into a world of color, composition, and creativity as we guide you through the nuances of design aesthetics. Whether you're a budding artist or a seasoned pro, our courses cater to all levels, fostering innovation and originality. Join us on a visual adventure, where your imagination knows no bounds</p>
        </div>
        <div class="section4_2_1">
            <img class="section3_1" src="" alt="">
            <h3>Data Science</h3>
            <p>Elevate your digital journey with our dynamic web development courses! Whether you're a coding enthusiast or just starting, our expert-guided programs provide a roadmap to master the art of web creation. From crafting responsive designs to building robust applications, embark on a transformative learning experience and shape the future of the web with us.</p>
        </div>
        <div class="section4_2_1">
            <img class="section3_1" src="">
            <h3>Data Analyst</h3>
            <p>Unleash the power of visual storytelling in our graphic design courses! Dive into a world of color, composition, and creativity as we guide you through the nuances of design aesthetics. Whether you're a budding artist or a seasoned pro, our courses cater to all levels, fostering innovation and originality. Join us on a visual adventure, where your imagination knows no bounds</p>
        </div>
    </div>
   

    <div class="section8">
        <div class="section5">
            <div class="section5_1 section8_2">
                <h1>Employment Opportunity</h1><br><br>
                <p>Successful Completion of our courses opens the door to exciting career opportunities with in our company.our top performers have the chance to join our team and work on cutting-edge projects alongside seasoned professionals</p>
                <p>At goo business, we value talent and dedication. That's ehy we prioritize hiring from within our pool of course graduates. if you perform well and demonstrate your skills, yourself eith a rewarding career right here with us</p>
                <p>Our sights are set on international growth and establishing a global presence. Our primary focus is on cultivating a highly competent and cohesive team. We believe that anyone, regardless of their financial means or educational background, possesses the potential to contribute significantly.</p>
                <br><br>
            </div>
            <div>
                <img src="../static/img/about_img/sec_pic.avif" alt="" width="100%">
            </div>
        </div>
        <br>
        <div class="section5">
            <div>
                <img src="../static/css/about/about_img/section4_pic.avif" alt="" width="100%">
            </div>
            <div class="section5_1 section8_2">
                <h1>Our Mission</h1>
                <h3>We are a burgeoning startup with a global vision.</h3><br>
                <p>We are committed to eliminating financial barriers, ensuring that individuals with limited resources can actively participate in our mission to make a positive impact.</p>
                <p>Our company provides an excellent entry point for fresh talent to enter the professional arena.</p>
                <p>We are dedicated to ensuring not just the completion of syllabi but instilling a practical understanding - our team members should be adept at applying what they learn.</p>
                <p>For us, it's not just about completing a syllabus; it's about instilling a mindset where knowledge is applied and contributes meaningfully. This philosophy defines our company's mission, where each individual, regardless of their background, has the opportunity to not only learn but also actively contribute to our collective goals.</p>
            </div>
            <br>
            
        </div>
    </div>
    <div class="section7">
        <h1>Our Co-Pertners</h1>
        <p>companys can hire you after success full completing course</p>
        <img src="../static/css/about/about_img/logo10.png" alt="" width="80%">
    </div>
    
</section>



<div class="cover">
    <h1>Top Successful Storys</h1><br><br>
    <div class="scroll-images">
      <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>RAHUL</h3>
        <p> I am from Lucknow, Uttar Pradesh. I have almost 5 years of experience in the analytics field. Currently, I am working with WNS global services in Gurgaon as a Lead Data Analyst. I help our clients with dashboards, reports and insights generated from the same. All this helps the stakeholders take informed decisions about the next steps. </p>
      </div>
      <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>SHAIK VIKAS</h3>
        <p>I completed a Master’s in Computer Applications from Amravati University in 2013 with a 7.23 CGPA. Now, I have more than 8 years of IT experience. I performed various roles in my career as a trainee, system engineer, and senior system engineer and now working as a Technology Analyst in Infosys Limited. </p>
      </div>
      <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>SHAIK VIKAS</h3>
        <p>I completed a Master’s in Computer Applications from Amravati University in 2013 with a 7.23 CGPA. Now, I have more than 8 years of IT experience. I performed various roles in my career as a trainee, system engineer, and senior system engineer and now working as a Technology Analyst in Infosys Limited. </p>
    </div >
    <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>RAHUL</h3>
        <p> I am from Lucknow, Uttar Pradesh. I have almost 5 years of experience in the analytics field. Currently, I am working with WNS global services in Gurgaon as a Lead Data Analyst. I help our clients with dashboards, reports and insights generated from the same. All this helps the stakeholders take informed decisions about the next steps. </p>
    </div>
    <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>VINAY REDDY</h3>
        <p>I am working as a data analyst at PwC. I started learning this course of data science and business analytics in February 2021. Before that, I worked in different domains – as a teacher, then became a travel agent, a customer care executive, and even worked in an HR consultancy firm. However, different domains would not have landed me in a future-oriented and long-term job role. Hence, </p>
    </div>
    <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>SHAIK VIKAS</h3>
        <p>I completed a Master’s in Computer Applications from Amravati University in 2013 with a 7.23 CGPA. Now, I have more than 8 years of IT experience. I performed various roles in my career as a trainee, system engineer, and senior system engineer and now working as a Technology Analyst in Infosys Limited. </p>
    </div >
    <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>SHAIK VIKAS</h3>
        <p>I completed a Master’s in Computer Applications from Amravati University in 2013 with a 7.23 CGPA. Now, I have more than 8 years of IT experience. I performed various roles in my career as a trainee, system engineer, and senior system engineer and now working as a Technology Analyst in Infosys Limited. </p>
    </div >
    <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>RAHUL</h3>
        <p> I am from Lucknow, Uttar Pradesh. I have almost 5 years of experience in the analytics field. Currently, I am working with WNS global services in Gurgaon as a Lead Data Analyst. I help our clients with dashboards, reports and insights generated from the same. All this helps the stakeholders take informed decisions about the next steps. </p>
    </div>
    <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>VINAY REDDY</h3>
        <p>I am working as a data analyst at PwC. I started learning this course of data science and business analytics in February 2021. Before that, I worked in different domains – as a teacher, then became a travel agent, a customer care executive, and even worked in an HR consultancy firm. However, different domains would not have landed me in a future-oriented and long-term job role. Hence, </p>
    </div>
    <div class="top_story">
        <img src="../static/img/about_img/person.png" alt="">
        <h3>SHAIK VIKAS</h3>
        <p>I completed a Master’s in Computer Applications from Amravati University in 2013 with a 7.23 CGPA. Now, I have more than 8 years of IT experience. I performed various roles in my career as a trainee, system engineer, and senior system engineer and now working as a Technology Analyst in Infosys Limited. </p>
    </div >
    </div>
  </div>
{% endblock body%}